.column {
  padding: 15px;
}
.Card {
  padding: 15px;
  background-color: rgba(0, 195, 255, 0.795);
  color: black;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 4px white;
  font-family: cursive;
  border-radius: 10px;
}
.Card:hover {
  transform: scale(1.05, 1.05);
}
.Image {
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  min-height: 210px;
  max-height: 210px;
}
.Title {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
}
.Buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Button {
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 10px;
}
.Button:hover {
  background-color: aliceblue;
  color: black;
}
